
.m-auto{
    margin: 0 auto;
}
.container{
    max-width: 1200px;
}

@media(max-width:768px){
    .container{
        max-width: 768px;
    }
}

@media(max-width:414px){
    .container{
        max-width: 414px;
    }
}

a{
    text-decoration: none;
}
 


